{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		],
		"@babel/preset-typescript"
	],
	"plugins": [
		[
			"import",
			{
				"libraryName": "element-plus",
				"libraryDirectory": "es",
				"style": true
			}
		]
	]
}
